.component {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid var(--color-white--10);
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.componentBreadcrumbTrail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconChevronRight1,
.iconChevronRight2 {
  color: var(--color-gray-500);
}

.componentBreadcrumbItem {
  font-size: 0.75rem;
  line-height: 1rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: not-allowed;

  &.isActive {
    color: var(--color-white);
  }

  &.isPast {
    color: var(--color-gray-400);

    &:hover {
      color: var(--color-white); 
    }
  }

  &.isFuture {
    color: var(--color-gray-600);
    cursor: not-allowed;
  }

  &.isEnabled {
    cursor: pointer;
  }
}

.modalParagraph {
  color: var(--color-gray-300);
  margin-bottom: 1.5rem;
}

.modalButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.buttonSecondary {
  border: 1px solid var(--color-white--10);

  &:hover {
    border-color: var(--color-white--20);
  }
}

.button {
  background-color: var(--color-red-500);

  &:hover {
    background-color: var(--color-red-700);
  }
}