:root {
  /* White and Black */
  --color-white: #fff;
  --color-white--10: rgba(255, 255, 255, 0.1);
  --color-white--20: rgba(255, 255, 255, 0.2);
  --color-black: #000;
  --color-black--50: rgba(0, 0, 0, 0.5);
  --color-black--70: rgba(0, 0, 0, 0.7);

  /* Gray */
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* Yellow */
  --color-yellow-400: #facc15;

  /* Orange */
  --color-orange-400: #ff7c2a;
  --color-orange-500: #ff6600;
  --color-orange-500--10: rgba(255, 102, 0, 0.1);
  --color-orange-500--20: rgba(255, 102, 0, 0.2);
  --color-orange-700: #ff4c00;

  /* Red */
  --color-red-300: #f87171;
  --color-red-400: #ef4444;
  --color-red-400--10: rgba(239, 68, 68, 0.1);
  --color-red-500: #dc2626;
  --color-red-700: #b91c1c;

  /* Green */
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-500--10: rgba(16, 185, 129, 0.1);
}