:root {
  --size-2: 2px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-64: 64px;
  --size-100: 100px;
  --size-125: 125px;
  --size-150: 150px;
  --size-200: 200px;
}
